#!/usr/bin/env bash

export FLOX_DISABLE_METRICS=true

if [[ ! -f .first_activate ]]; then
	echo "⏳ First activation may take 5-10 minutes to download packages..."
fi

eval "$(flox activate -d "$PWD")"

touch .first_activate
