apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: {{ .Name }}
  namespace: {{ .Namespace }}
spec:
  interval: 10m
  chart:
    spec:
      chart: {{ .Name }}
      version: '{{ .Version }}'
      sourceRef:
        kind: HelmRepository
        name: {{ .Name }}-repo
        namespace: flux-system
  values: {}
  # Values from values.yaml will be applied during deployment
  # Edit values.yaml in this directory and commit to your GitOps repository
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: {{ .Name }}-repo
  namespace: flux-system
spec:
  interval: 1h
  url: {{ .Source }}
